@use "./variables.scss" as *;

:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-800);
  background-image: radial-gradient(
      circle at top right,
      var(--blue-600) 0%,
      transparent 60%
    ),
    radial-gradient(circle at bottom left, var(--blue-600) 0%, transparent 60%);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 300px 300px, 300px 300px;

  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: var(--font-stack);
  font-weight: 400;
  font-size: 1rem;
}
